<ion-view view-title="כרטיסיות שלי">
    <ion-content class="animate-fade-slide-in" ng-class="{expanded:isExpanded}">
        <div class="item card-item ">
            <a class="card stable-bg ink ink-dark" href="#/tab/cards/5">
                <div class="item item-avatar item-text-wrap">
                    <strong>
                        ארומה
                    </strong>
                    <span>
                        הרצליה פיתוח
                    </span>
                    <span class="avatar" style="background-image: url('img/aroma.png');">
                    </span>
                    <div class="card-footer text-left">
                        <i class="icon ion-ios-cart positive">
                        </i>
                        0
                        <i class="icon ion-ios-keypad-outline assertive">
                        </i>
                        4
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
