<ion-view view-title="התחברות" align-title="left">
    <ion-content style="background: url(img/coffee.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>הרקולס</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-click="regularLogIn()" class="button button-full  button-border icon-left ion-social-facebook button-positive-900">התחבר באמצעות פייסבוק</button>
        </div>
    </ion-content>
</ion-view>
