<ion-view view-title="הגדרות">
    <ion-content>
        <ul class="list">
            <li class="item item-toggle">
                התראות
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                        <div class="track">
                            <div class="handle">
                            </div>
                        </div>
                    </input>
                </label>
            </li>
            <li class="item item-toggle">
                התראות
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                        <div class="track">
                            <div class="handle">
                            </div>
                        </div>
                    </input>
                </label>
            </li>
            <li class="item item-toggle">
                התראות
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                        <div class="track">
                            <div class="handle">
                            </div>
                        </div>
                    </input>
                </label>
            </li>	
        </ul>
    </ion-content>
</ion-view>
